.blue{
	color:blue;
}

button ,input , select{
	border-radius: 15px;
}

.searchbox{
	background: #eaf8fc;
	background-image: -moz-linear-gradient(#fff, #d4e8ec);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e8ec),color-stop(1, #fff));
	
	-moz-border-radius: 35px;
	border-radius: 35px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #c4d9df #a4c3ca #83afb7;            
	width: 500px;
	height: 35px;
	padding: 10px;
	margin:auto;
	overflow: hidden; /* Clear floats */
}

.inline{
	display: inline-block;
}

.page{
	border: black solid 2px;
}

#rank{
	font-size: 14px;
	color: grey;
	font-style: italic;
}

p, select, label{
	font-family: Comic Sans MS;
}

.page p{
	font-family: Comic Sans MS;
	font-size: 20px;
}

.page a{
	font-size:32px;
	text-decoration: none;
	font-family: Comic Sans MS;
}

.pop{
	font-size: 10px;
	color: blue;
	font-family: Verdana;
}
