{% if error %}
    <p>the site you wish to import is not giving us permission to open it,sorry</p>
{% else %}
    {% if not title %}
        <p>page already imported</p>
    {% else %}
        <p style="font-size: 30px; color: green;">Page succesfully imported:</p>
        <p style="font-size: 25px;">{{ title }}</p>
        <p>{{ content }}</p>
    {% endif %}
{% endif %}
