<!DOCTYPE html>
<html>
    <head>
      <title>gogo search</title>
      <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" type="text/css" charset="utf-8">  
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    </head>
    <body>
        <div class="wraper">
        <section>
          <form id="submit_search" action="" method="post" class='searchbox'>
              {% csrf_token %}
            <label for="strings">What to search?</label>
            <input id="strings" type="text" />
            <button type="submit" id="submit_btn">search</button>
            <a href="#" class="pop more">more?</a>
            <p class="inline typep">Select search type: </p>
            <select id="search_type">
              <option value="0">exact</option>
              <option value="1">case insensetive exact</option>
              <option value="2">substring</option>
              <option value="3">case insensetive substring</option>
            </select>
            <select id="and_or">
              <option value="0">NONE</option>
              <option value="1">OR</option>
              <option value="2">AND</option>
              <option value="3">NOT</option>
            </select>
            <input id="strings2" type="text" />
            <p class="inline typep">Select 2nd search type: </p>
            <select id="search_type2">
              <option value="0">exact</option>
              <option value="1">case insensetive exact</option>
              <option value="2">substring</option>
              <option value="3">case insensetive substring</option>
            </select>
          </form>
          <form id="submit_import" class='searchbox'>
              <a href="#" id="importa" class="inline pop">Import html file?</a>
              <section id="form_section" class="inline" style="display: none;">
              <input id="url_add" type="url" /><button type="submit">import</button>
              </section>
          </form>
        </section>
        <section id="results">
        </section>
        </div>
    <script>
  $(document).ready(function(){
      
      $('#submit_search').submit(function(event){
    event.preventDefault();
    var string = $('#strings').val();
    if (string ==''){
        alert("no string input!");
        return false;
    }
    var lookup_type = $('#search_type').val();
    var and_or = $('#and_or').val();
    var lookup_type2 = $('#search_type2').val();
    var string2 = $('#strings2').val();
    // if(and_or!='0' && lookup_type!='0' ){
        // alert("sorry, you can't change lookup type and change and/or option");
        // return false;
    // }
    token = $('[name=csrfmiddlewaretoken]').val();
     var data = {'string':string, 'lookup_type':lookup_type, 'and_or':and_or, 'string2':string2, 'lookup_type2':lookup_type2, 'csrfmiddlewaretoken':token};
    $.ajax({  
            type: "POST",  
            url: "{% url search %}",  
            data: data,  
            success: function(response) { // on success..
                    $('#results').html(response); // update the DIV
                }
        });   
        return false;
}); 

    $('#submit_import').submit(function(event){
    event.preventDefault();
    var url = $('#url_add').val();
    if(url == ''){
        alert('please put somthing in url field');
        return false;
    }
    token = $('[name=csrfmiddlewaretoken]').val();
    var data = {'url':url, 'csrfmiddlewaretoken':token};
    $.ajax({  
            type: "POST",  
            url: "{% url submit %}",  
            data: data,  
            success: function(response) { // on success..
                    $('#results').html(response); // update the DIV
                }
        });   
        return false;
}); 
    
    $('#importa').click(function(){
       $('#form_section').show();
    });
    
    $('.more').click(function(){
        $('.searchbox').css( "height", "auto" );
    })
      
  });
  </script>
    </body>
</html>