<p>Results for : <span class="blue">{{ string }}</span></p>
{% if pages %}
    {% for p in pages %}
    <section class="page">
    <a href="{% if not p.href %}#{% else %}{{ p.href }}{% endif %}">{{ p.title }}</a>
    <p>{{ p.description }}</p>
    <p id="rank">your word/s was spotted {{ p.rank }} times</p>
    </section>
    {% endfor %}
{% else %}
    <h1>No pages were found with that word in the requested search type</h1>
{% endif %}
